<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>API-Test</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <div class="modal" role="dialog" tabindex="-1" id="session_overview">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="font-size: 18px;">Session Brecht Nys</h4><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button" style="font-size: 14px;"></button>
                </div>
                <div class="modal-body" style="padding-top: 5px;padding-bottom: 5px;">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col d-flex flex-row justify-content-start align-items-center">
                            <h1 style="font-size: 16px;margin-bottom: 0px;margin-right: 5px;">Appointment details</h1><a href="#" style="font-size: 12px;" data-bs-target="#modal_edit_appointment" data-bs-toggle="modal">Edit</a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px;">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 14px;padding: 5px;">Client:</td>
                                            <td style="font-size: 14px;padding: 5px;"><a href="II.I. Client Overview.html">Brecht Nys</a></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 14px;padding: 5px;">Session type:</td>
                                            <td style="font-size: 14px;padding: 5px;">Individual Therapy</td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 5px;font-size: 14px;">Session date:</td>
                                            <td style="padding: 5px;font-size: 14px;">Wed 22-May-2024</td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 5px;font-size: 14px;">Session time:</td>
                                            <td style="padding: 5px;font-size: 14px;">13:00 - 13:50</td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 5px;font-size: 14px;">Location:</td>
                                            <td style="padding: 5px;font-size: 14px;">Video call</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px;">
                        <div class="col d-flex justify-content-center align-items-center" style="padding-top: 5px;padding-bottom: 5px;"><button class="btn btn-primary shadow-sm d-flex justify-content-center align-items-center" type="button" style="font-size: 14px;background: rgb(0,201,147);border-width: 0px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-camera-video-fill" style="margin-right: 10px;font-size: 18px;">
                                    <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2z"></path>
                                </svg>&nbsp;Start video appointment</button></div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" data-bs-dismiss="modal" style="background: var(--swiper-theme-color);color: var(--bs-btn-bg);font-size: 12px;" type="button">Close</button></div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>